<% if admin? %>

<h1>All System Users</h1>
  <% @users.each do |user| %>

    <p><%= user.first_name %> <%= user.last_name %><p>

    <ul>
      <li>Email: <%= user.email %></li>
      <li>Role: <%= user.role %></li>
    </ul>
  <% end %>
<% end %>
