<footer class="footer">
  <div class="top-bar">
    <div class="small-5 small-centered columns text-center">
      <ul class="menu">
        <li>Ruby Book Review</li>
        <li><%= link_to "Books", books_path %></li>
        <li><%= link_to "Add Book", new_book_path %></li>
        <li>Copywrite © 2016</li>
      </ul>
    </div>
  </div>
</footer>
