<ul>
  <li>Author: <%= @book.author %></li>
  <li>Description: <%= @book.description %></li>
  <% if @book.ranks == [] %>
    <li>There is no average ranking for this book</li>
  <% else %>
    <li>Average Ranking: <%= @book.average_rank %></li>
  <% end %>
</ul>
