// @import "*";

// *= require foundation_and_overrides
// *= require_self
// *= require_tree .
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif';

.main-content-section {
  margin-left: 5%;
}

ul {
  list-style-type: none;
}

.books-index {
  height: 350px;
  width: 250px;
  padding: 15px;
}

.book-show {
  image-rendering: pixelated;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.book-details {
  position: relative;
  margin-top: 7.5%;
}

.new-book-cta {
}

.top-bar-right {
  margin-top: 1.25%;
}

@media screen and (max-width: 40em){
  #icon {
    display: none;
  }
}
