// @import "*";

// *= require foundation_and_overrides
// *= require_self
// *= require_tree .

ul {
  list-style-type: none;
}

.book {
  height: 350px;
  width: 250px;
  padding: 15px;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.book-details {
  position: relative;
  margin-top: 7.5%;
}
