<h2>Add a Review:</h2>
<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
    <%= f.input :description, as: :text, required: true, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Review" %>
  </div>
<% end %>
